/*
 ****** Global ******
 */

 body {
 	font-size: 16px;
 }
 a, a:link, a:visited {
 	color: #eaeaea;
 }
 a:hover, a:active {
 	color: #ececec;
 	text-decoration: none;
 }
 .button {
 	color: #eaeaea;
 	background: #222;
 	padding: 5px 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	cursor: pointer;
	text-align: center;
 	height: 35px;
 }
 .button:hover {
 	background: #000;
 }

 /*
 ****** Header ******
 */

header {
	width: 100%;
	height: 50px;
	padding: 10px;
	color: #eaeaea;
	background: #222;
}


/*
 ****** Main ******
 */

.main {
	background: #444;
	color: #eaeaea;
}
.main .container {
	padding-top: 50px;
}

.col.input .row {
	margin-bottom: 50px;
}
.col.input {
	background: #efefef;
	box-shadow: 5px 1px 10px 0px #222;
	color: #444;
	padding: 15px;
	margin: 20px;
	height: auto;
}

#custom-content .col div {
	background: #cfcfcf;
	padding: 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


/*
 ****** List ******
 */
 
.list {
	list-style-type: none;
}
.list li {
	text-align: center;
	padding: 10px 5px;
	margin: 20px;
	box-shadow: 5px 1px 10px 0px #222;
}
.list li:first-child {
	background: #b92701;
}
.list li:last-child {
	background: #759407;
}


/*
 ****** Inputs ******
 */

input {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
 input[type=text] {
 	padding: 5px 10px;
	width: 100%;
 	height: 35px;
 }


/*
 ****** Custom classes ******
 */

 .center {
 	text-align: center;
 }
 .rounded {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
 }


 /*
 ****** Media queries ******
 */


@media only screen and (min-width: 1024px) {
	#custom-content {	
		display: none;
	}
}