<header>
	<div class="center">
		<h4>{{ author }}'s {{ title }}</h4>
	</div>
</header>

<section class="main">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col">
				<div class="row" ng-app="list">
					<ul class="list">
						<li class="rounded" *ngFor = "let item of data.content">
							{{ item.data }}
						</li>
					</ul>
				</div>
			</div>
			<div class="col input">
				<div class="row rounded">
					<div class="col">
						<input type="text" name="new-item">
					</div>
					<div class="col">
						<input type="submit">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
