<header>
	<div class="center">
		<h4>{{ author }}'s {{ title }}</h4>
	</div>
</header>

<section class="main">
	<div class="container">
		<div class="row result justify-content-start">
			<div class="col .col-sm-12 .col-md-12 .col-lg-6 .col-xl-6">
				<div class="row" ng-app="list">
					<ul class="list">
						<li class="rounded" *ngFor = "let item of data.content">
							{{ item.data }}
						</li>
					</ul>
				</div>
			</div>

			<div class="input rounded col .col-sm-12 .col-md-12 .col-lg-6 .col-xl-6">
				<div class="row">
					<div class="col-8">
						<input type="text" name="new-item" #newItem
							(keyup.enter)="addItem(newItem.value); addCustomContent(newItem.value); newItem.value=''">
					</div>
					<div class="col-4">
						<div class="button"
							(click)="addItem(newItem.value); newItem.value=''">Add</div>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<input type="checkbox" name="filter"> Display Filter
					</div>
				</div>

				<div class="row" id="custom-content">
					<div class="col">
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container center">
		<a href="https://en.wikipedia.org/wiki/The_Simpsons" target="_blank" class="button">The Simpsons</a>
	</div>
</section>
